GATSBY_FIREBASE_API_KEY=<BUNCHofRandomNumbersAndChars>
GATSBY_DEV_AUTH_DOMAIN=<name>.firebaseapp.com
GATSBY_DEV_DATABASE_URL=https://<name>.firebaseio.com
GATSBY_DEV_PROJECT_ID=<name>
GATSBY_DEV_STORAGE_BUCKET=<name>.appspot.com
GATSBY_CAKE_EATEN=hasUserEatTheCake
GATSBY_BASE_URL= http://localhost:3000
GATSBY_PRIZE_URL=receiveGift
GATSBY_GIFT_HISTORY=getHistory